@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    box-sizing: border-box;
}

h2{
    color: rgb(246, 190, 4);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

body{
    margin: 15px;
    background-image: url(.//assets/reciepe\ back.jpg);
}

div{
    width: min-content;
    border: 2px solid rgb(255, 254, 254);
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    letter-spacing: 0.5px;
}

div li{
    word-wrap: break-word;
}

section{
    color:white;
}