body{
    background-color: black;
    margin: 0;
}

.main-container {
    max-width: fit-content;
    margin-top: 20px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }